doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/core.css')
  body
    block content
    script(type='application/javascript', src='/javascripts/db.js')
    script(type='application/javascript', src='/javascripts/core.js')
