body {
  padding: 0;
  font: 300 15px/1.55 "Lato",sans-serif;
  background-color: #fff;
  color: #444;
}

a {
  color: #00B7FF;
}

#monitor-wrapper {
  background-color: #444;
  width: 720px;
  height: 416px;
  margin: 0 auto;
}


fieldset {
    border: 5px solid transparent;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

fieldset legend {
    background-color: #555;
    padding: 5px 10px ;
    font-size: 1.2em;
    border-radius: 5px;
    margin-left: 20px;
}

fieldset input {
  margin: 0 10px;
}

button {
  background-color: #555;
  border: none;
  padding: 5px;
  color: #eee;
  cursor: pointer;
}