doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/core.css')
  body
    #header
      img(src='/images/logo.png', width=180)
    block content
    script(type='application/javascript', src='/javascripts/easystar-0.3.0.js')
    script(type='application/javascript', src='/javascripts/db.js')
    script(type='application/javascript', src='/javascripts/core.js')
